table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.BodyOne
{
    align-content: center;
    padding: 15px;
}

.TableOne
{
    width: 100%;
    height: auto;
    margin-bottom:  15px;
}

.TableTwo
{
    width: 100%;
    height: 100%;
}

.TrLong
{
    width: 100%;
    height: auto;
    align-content: center;
}

.TdMain
{
    width: 80%;
    background-color: #4a90e2;
}

.TrMain
{
    height: 500px;
}
.TdRight
{
    max-width: 20%;
    min-width: 100px;
    background-color: #4caf50;
}

.TdThin
{
    width: 20px;
    background-color: red;
}