/* --- CORE LAYOUT --- */

* {
    box-sizing: border-box;
}

.HTML, .BodyOverLord {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    background-color: #121212;
    /*background-image: url(pixelbg.gif);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.Main {
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    margin: 10px;
    background: orangered;
    display: flex;
    box-sizing: border-box;
}

/* --- COLUMNS --- */
#Left {
    background-color: #8E3A4A;

    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

#Right {
    background-color: #8E3A4A;

    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* --- CONTENT BLOCKS --- */
.DivLine {
    width: 100%;
    height: 25px;
    background-color: #011f4b;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    flex: 0 0 auto;
}

#Centre {
    background-color: pink;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

/* --- DYNAMIC HIDDEN LAYER --- */
#DynamicGuideContainer {
    width: 100%;
    min-height: 0;
    background-color: #222;
    transition: all 0.3s ease;
}

.HiddenGuide {
    display: none;
    width: 100%;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* --- SORTABLE CONTAINERS --- */
.DivGuide {
    width: 100%;
    height: 50px;
    background-color: #011f4b;
    display: flex;
    flex: 0 0 auto;
}

#Settings, #GuideLeft {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    align-items: center;
    padding-left: 10px;
    height: 100%;
}

.DivGuideRight
{
    background-color: #8E3A4A;

}

#Settings { width: 100%; }
#GuideLeft { width: 125px; }

#GuideRight {
    width: calc(100% - 125px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #03396c;



}

#Ad {
    flex: 1;
    background-color: #005b96;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    scrollbar-width: thin;
    scrollbar-color: #ffd300 #ffd300;
}


#Ad::-webkit-scrollbar {
    width: 12px;
}

#Ad::-webkit-scrollbar-track {
    background: #ffd300;
}

#Ad::-webkit-scrollbar-thumb {
    background-color: #ffd300;
    border-radius: 10px;
    border: 3px solid #ffd300;
}

#Orb {
    width: 100px;
    height: 100px;
    background-color:  #ff3300;

    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

/* --- DRAGGABLE ITEMS --- */
.DivSetting, .DivAd {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    scroll-snap-align: start;
    flex: 0 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.DivSetting {
    width: 25px;
    height: 25px;
    margin-right: 10px;

    background-color: black;
    color: #ffd300;
    border: 2px solid #ffd300;

}

#GuideLeft .DivSetting {
    background-color: black;

    color: #ffd300;
    border: 2px solid #ffd300;
}

#GuideLeft .DivSetting.active-btn {
    background-color: #ffd300;
    color: black;
    border-color: black;
}

.DivAd {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background-color: black;

    color: #ffd300;
}

.SortGhost { opacity: 0.4; background-color: black; border: 2px dashed #ffd300; }
.SortDrag { cursor: grabbing; }




.DivTerminal
{
    display: inline-block;
    height: 100%;
    background-color: #8E3A4A;

    width: auto;
}



/*SECTION MAIN STUFF*/

.SectionMain {
    display: none;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;

    background-color: black;

}

.DivCentre
{
    display: block;
    width: 100%;

    border: 3px solid #03396c;
    text-align: center;

}

.DivGrid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.DivContactItem
{
    flex: 0 1 120px;
    height: 100px;
    background: #ffd300;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
    transition: transform 150ms ease;
}

.PCentre1
{

    color: white;
}

.HCentre
{
    color: white;
    font-size: 44px;
}


.SortChosen {
    background: #ffd300;
    transform: scale(1.05);
    cursor: grabbing;
}

.DivColour
{
    background-color: #011f4b;


    background-color: #03396c;


    background-color: #005b96;



    background-color: #6497b1;
    background-color: #b3cde0;


    background-color: #ffd300;


    background-color: #fcd12a;
    background-color: #ffc30b;
    background-color: #ffbf00;
    background-color: #000000;
    background-color: #111111;
    background-color: #1e1e1e;
    background-color: #3c3c3c;
    background-color: #4d4d4d;
    background-color: #ff0000;

    background-color: #ff3300;

    background-color: #ff4c00;
    background-color: #ff6600;
    background-color: #ff7c00;

}

.cursor::after {
    content: '|';
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}